extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sarah Shelley

        p.lead.text-light
          | Full Stack JavaScript Developer/Alexa Champion/ AWS Associate.

        .portfolio-bio
          p
            | Results orientated and highly motivated professional Full Stack JavaScript developer with a range of skills dedicated to website, app development and deployment. 
            | Competent communicator able to present complex technical concepts in everyday business terminology.
            | Experience working in independant and team based roles. Commited to continued professional development and success.
            | Certified in Full Stack Development, Alexa Development, AWS Practitioner and Microsoft Associate.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript/Html/Css
          li Express
          li API's
          li NodeJs
          li SQL
          li Ajax 
          li Active Directory - Microsoft Technology Associate Cert
          li AWS - certified AWS Cloud Practitioner
          li Certified Alexa Developer
          li Alexa Champion
          li Analytics on structured and unstructured Data
          li Dashboarding and reporting
        h6 Contact Info

        ul
          li 0433 195 937
          li sargef38@bigpond.com

        a.button.expanded(href='https://www.linkedin.com/in/sarah-shelley-a50010160/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/sargef', target="_blank") GitHub
    nav.grid-container.portfolio-breadcrumb
      a(href='/') ← Back
